@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;;
}

html{
    background: #282a2e;
    // background-blend-mode: soft-light;
    // background-image: url(../image/main.jpg);
    // background-size: 90%;
}

body{
    margin: 40px;
    color: white;
}

.container{
    display: block;
        
    .header{
        text-align: center;
        h1#title{
            font-size: 4rem;
        }
        p#description{
                font-size: 2rem;
                font-weight: 300;
                margin-top: 10px 0px;
        }
    }   

    form#survey-form{
        background-color: #494d68da;
        height: auto;
        max-width: 100%;
        width: 800px;
        margin: 40px auto;
        // margin: 40px 200px;
        border-radius: 5px;
        box-shadow: 2px 5px 30px 1.1px rgba(0, 0, 0, 0.384);

        .form-group{
            display: flex;
            flex-direction: column;
            margin: 20px 0px;
            text-transform: uppercase;

            #name-label,
            #email-label,
            #number-label,
            #selection-description,
            #complains,
            #staff-joy,
            #promotion,
            #comment-description
            {
                margin: 0px 50px;
                font-size: 1.5rem;
                display: block;
                color: rgb(219, 219, 219);
            }
            #name,
            #email,
            #number,
            #dropdown,
            .form-control{
                height: 4rem;
                margin: 0px 50px;
                color: white;
                font-size: 1.3rem;
                background: none;
                border: none;
                border-bottom: 1.1px solid rgb(235, 235, 235);
                padding: 0;
            }

            #name-label{
                margin-top: 40px;
            }

            #diff{
                display: flex;
                margin: 0px 30px;
                margin-top: 10px;
                color: #89909b;

            }
            #difficulty{
                margin: 0px 20px;
                font-size: 1.3rem;
            }

            #promote{
                display: flex;
                flex-direction: column;
                margin: 0px 30px;
                margin-top: 10px;
            }
            .input-checkbox{
                margin: 10px 20px;
            }

            label#elevate{
                font-size: 1.3rem;
            }

            #comment{
                margin: 0px 50px;
                height: 15rem;
                font-size: 1.5rem;
                margin-top: 10px;
            }

            button#submit{
                margin: 0px 50px;
                margin-top: 20px;
                margin-bottom: 60px;
                height: 4rem;
                font-size: 1.5rem;
                border-radius: 5px;
                background: linear-gradient( 35deg, #4899f4, #4695f1);
                border: none;
                color: white;
                box-shadow: 2px 5px 30px 1.1px rgba(0, 0, 0, 0.384);
                font-weight: 700;
            }
        } 
    }
}

@media screen and (max-width: 700px){
    h1#title{
        font-size: 3rem !important;
    }
    p#description{
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 400px){
    h1#title{
        font-size: 2.3rem !important;
    }
    p#description{
        font-size: 1.2rem !important;
    }
}

